<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/cdn/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="row">
  <h1 class="text-center" id="TituloPrincipal">Conversion de Sistemas Numéricos</h1>
  <!-- Aqui hay que escribir el codigo -->

  <div class="row text-center">
    <br>
    <div class="col-xs-12 col-md-5">
      <div class="row">
        <a class="btn btn-primary">Binario</a>
        <a class="btn btn-warning">Octal</a>
        <a class="btn btn-success">Decimal</a>
        <a class="btn btn-danger">Hexagesimal</a>
      </div>
      <br>
      <textarea name="" id="" cols="30" rows="10" class="form-control 3"></textarea>
    </div>
    <div class="col-xs-12 col-md-2">
      <a class="btn btn-info">Convertir</a>
    </div>
  </div>

  <!-- Aqui van los scripts (Antes de que termine el body) -->
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js" ></script>
  <script type="text/javascript" src="/cdn/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>
