<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/cdn/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="row">
  <h1 class="text-center" id="TituloPrincipal">Proyectos DS3</h1>
  <!-- Aqui hay que escribir el codigo -->
  <div class="col-xs-12 col-md-4">
    <a href="/ConversionNumeral" class="btn btn-primary btn-lg" >Sistema de Conversion de Números
    <br>
    <img src="http://d1hw6n3yxknhky.cloudfront.net/010723687_prevstill.jpeg" alt="Binarios" class="img-responsive">
  </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="/ConversionNumeral" class="btn btn-primary btn-lg" >Sistema de Conversion de Números</a>
    <img src="http://d1hw6n3yxknhky.cloudfront.net/010723687_prevstill.jpeg" alt="Binarios" class="img-responsive">
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="/ConversionNumeral" class="btn btn-primary btn-lg" >Sistema de Conversion de Números</a>
    <img src="http://d1hw6n3yxknhky.cloudfront.net/010723687_prevstill.jpeg" alt="Binarios" class="img-responsive">
  </div>


  <!-- Aqui van los scripts (Antes de que termine el body) -->
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js" ></script>
  <script type="text/javascript" src="/cdn/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>
